<div>
    <p>Blog Posts (partial)
        (includes comments for each BlogPost)
        (which also includes other partials)</p>
</div>

<ul class="posts_list">
    {{#each posts}}
    <p>
        <li>
            {{title}}
            {{post}}
            {{created}}

            {{#each comments}}
        <li>
            {{comment}}
            {{created}}
            {{user.username}}
        </li>
        {{/each}}

        </li>
    </p>
    {{/each}}
</ul>

{{!-- {{> comments}} --}}